[2017-09-15 00:01] GenevaS opened #1 "Problem Statement Review"
Hi Professor.

I've finished the initial draft of the problem statement, which hopefully answers most of the questions that were brought up earlier today. Please let me know if anything is still unclear, or if the project idea needs to be revised.

Thanks!

[2017-09-15 03:43] smiths commented on #1
Hello Geneva.  Your project sounds good.  I did commit a new version with a very minor spelling correction.  (You can see it using diff.)

Can you please clarify how CCC is related to AI.  The description should be abstract, but what you have written doesn't really give me a clue of why this tool will be useful for games.

[2017-09-15 22:27] GenevaS commented on #1
Hi Professor.

I have clarified that this is to help with the development of GLaDOS and added an additional environment constraint should a GUI interface be desired. Please let me know if there are additional points to clarify.

These changes were made in 3ea618971fde4348b7973a8c1709eb204dc0a8ce

The files can be found at:
https://github.com/GenevaS/CAS741/blob/master/Documentation/ProblemStatemen

[2017-09-18 19:45] smiths commented on #1
Looks great!  Problem statement approved!

[2017-09-18 19:45] #1 closed, assigned to smiths

[2017-09-25 19:23] GenevaS opened #2 "Section 1: Introduction"
Hi Professor. I have a number of clarification questions for the first section of the SRS that should (hopefully) be easy to answer:

1. The Introduction preamble should only state what product the SRS is for, a (very) short explanation of what that is and a (very) short explanation of why, correct? Otherwise there would be a lot of repetition in the subsections I think.
2. Does the "Purpose" sect

[2017-09-25 20:43] smiths commented on #2
Hello Geneva.  Great questions!  Thank you.

Yes, the introduction should be at a high level.  The document is intended to proceed from abstract to concrete, or general to specific.  The introduction should be short.  There is some repetition in the document, the human reader usually appreciates this.

Yes, the purpose section should follow the IEEE template and the same for the scope.

If intende

[2017-09-27 00:48] GenevaS commented on #2
Ok, thank you!

[2017-09-27 00:48] #2 closed, assigned to smiths

[2017-09-27 01:56] GenevaS opened #3 "Section 3.1: System Context"
Hi Professor.

If you are able, could you please have a look at my system context (Section 3.1)? Conceptually my project is fairly simple, so I expect this section to be shorter than what I am used to writing. That being said, I am not sure that my context description contains all the required information. Any feedback would be appreciated, especially if something is unclear or missing.

The lates

[2017-09-28 14:06] smiths commented on #3
Hello @GenevaS.  If you wanted to, you could make your section shorter by avoiding duplication between the section's introductory paragraph and the itemized list.  You could also just say C^3 will detect syntax errors, instead of listing the types of syntax errors, like mismatched brackets.  However, the duplication that is there doesn't really seem to be a problem to me and being explicit about t

[2017-09-28 15:57] GenevaS commented on #3
Ok, that helps a lot. Thank you for looking at this professor.

[2017-09-28 15:57] #3 closed, assigned to smiths

[2017-10-01 16:35] GenevaS opened #4 "Relationship between theoretical models, data definitions, and instance models"
Hi Professor.

I am still not sure that I understand the breakdown of my project into the different model sections.

I have used the theoretical models section to write interval arithmetic in set representation (which can potentially be implemented different ways), the data definitions to outline the notation used in the instance models (as a way to make a concrete data definition that elements in

[2017-10-03 03:04] GenevaS opened #5 "Formatting the Data Constraints Section"
Hi Professor.

While I was filling in the data constraint tables from the project template, I found that many of the columns did not apply to my specification. Rather than having two mostly empty tables, I decided to format this section the same way as the medical imaging tool (3dfim+). This condensed my constraints into two lists (input and output).

Is this approach acceptable for this project,

[2017-10-03 04:00] smiths commented on #5
Sounds good @GenevaS.  I agree with your choice to use the same approach as the medical imaging example.

[2017-10-03 04:00] #5 closed, assigned to smiths

[2017-10-03 04:21] smiths commented on #4
Hello @GenevaS.  I took a quick look and I like what I see.  Your theory is general and then you introduce the two boundary point representation of an interval.  If you don't make it clear, you should point out that there are other representations for intervals, such as the midpoint radius representation.

DD2 and DD3 seem rather trivial. You could probably handle these through the table of symbol

[2017-10-03 04:34] GenevaS commented on #4
Alright, I will move DD2 and 3 to the table of symbols and use the data constraints to cover the specifics. I will also make it more specific in the assumptions that trigonometric functions aren't being covered in the initial version. Perhaps it should be a new assumption (rather than extending the accepted operators assumption [A3])?

[2017-10-03 04:38] smiths commented on #4
Hi Geneva.  Yes, I like the idea of a new assumption.  Your initial version only has the basic arithmetic operations.  You can make that an assumption.  For future versions this assumption can be removed.

[2017-10-03 19:47] GenevaS commented on #4
Alright, these items have been fixed in commits e27aa7355b120b349ebfc8b5d953293bd5bc7e87 and 4db345d9920869c0dd9462907b07d6a34216c03c. Thanks for your help!

[2017-10-03 19:47] #4 closed, assigned to smiths

[2017-10-11 02:43] renjiezhang opened #6 "ambiguous statement in 5.2 robustness"
@smiths @GenevaS
The C3 tool must inform the user when it encounters any unspecified state. It is better to specify what type of message and in what type of format such as displaying an alert, saving to log file or sending email to users.

[2017-10-11 02:53] renjiezhang opened #7 "User responsibility"
@GenevaS @smiths
In user responsibilities section, one of responsibilities is to ensure the calculator outputs are semantically correct with respect to the target application. I don't quite understand why this is supposed to be one of user responsibilities. I think it is the software's responsibility because it is the program to output the result.

[2017-10-11 02:57] renjiezhang opened #8 "C3 responsibilites-communicate with the user"
@GenevaS @smiths
When the calculator detect data type mismatch or bracket mismatches in f(x), the product may need to communicate these errors with the user.

[2017-10-11 03:15] renjiezhang opened #9 "missing symbol in IM3"
@GenevaS @smiths

In table of symbol, the author does not give the definition of Symbol M in IM3

[2017-10-11 03:45] renjiezhang opened #10 "5.2 non functional requirements performance"
@GenevaS @smiths
In the Performance, you mentioned that time and space performance is not priority. I think you don't need to put the performance here because it is not a requirement. If you keep it there then you need to give it a fit criteria.

[2017-10-11 12:37] GenevaS commented on #9
The usage of ``M`` in the IM for "Multiplication of closed, real intervals" is to make the equation easier to read. It only exists within that context, which is why it is also only defined there. Since it is essentially a temporary variable, it doesn't belong in the global symbolic constants table.

For reference, the equation reads:

``x_mul = min(M), y_mul = max(M), where M = {x_1 * y_1, x_1 * y

[2017-10-11 12:44] GenevaS commented on #10
I don't see the point in stating a fit criterion for a class of requirements that are explicitly listed as not being considered. I believe that it would send mixed messages if I did this (i.e. Is it important? It says that it isn't, but there is a fit criterion/goal for it.)

The purpose of mentioning the non-functional requirements that are not being considered going forward is to make it explici

[2017-10-11 14:00] smiths commented on #10
I agree with @GenevaS.  Specifying that a nonfunctional requirement, like performance, is not a priority is an appropriate part of a specification.  Given that it is not a priority, the absence of a fit criterion is fine.

[2017-10-11 14:00] #10 closed, assigned to GenevaS, smiths

[2017-10-11 14:05] smiths commented on #9
Although I understand your point @GenevaS, I like all symbols to be in the table of symbols, even the temporary ones.  You never know when a reader might want to check a symbol.  Rather than judge what is important and what is not, it is easier to just include everything in the table of symbols.  You can define M as an intermediate variable, only used for the purpose of making the specification cl

[2017-10-11 15:29] GenevaS commented on #9
Fair enough. Added in 4d549f5e07f850c15253f00bf5f69dbf783d4ab5:

"`M` -> A temporary variable for aiding in the readability of equations"

[2017-10-11 15:29] #9 closed, assigned to GenevaS, smiths

[2017-10-11 15:33] GenevaS commented on #8
Clarified in 62b5c237ad8a9dfe150f78b35003e13c8f687dfc.

[2017-10-11 15:33] #8 closed, assigned to nobody

[2017-10-11 15:48] GenevaS commented on #7
The C^3 tool does not know what you are testing the equation for, which also means it cannot know that the [-2,3] range it found for your equation is not the [-1,1] range that you are trying to achieve. It can only tell you what it is (if it exists), not if it is what you wanted.

Still, I think that this can be rewritten to be clearer and has been done so in f1fb265b61920373f8e6ffce2be9d5ecb65fb6

[2017-10-11 15:48] #7 closed, assigned to nobody

[2017-10-11 16:00] GenevaS commented on #6
I have clarified the meaning of this statement in 52a6799f2ce23efe7ea291a26533fff7474467fe.

[2017-10-11 16:00] #6 closed, assigned to nobody

[2017-10-13 04:38] smiths opened #11 "Comments Added to SRS"
I've added comments to your SRS.tex file.  Please have a look at them.

[2017-10-14 13:33] GenevaS commented on #11
Alright, I will work through the document in order.

I have removed the comment about ``svgnames`` and added types to the table of symbols. I have also updated the document so that it matches the template currently in the GitLab repo. Would you please have a look and let me know if the new type information makes sense and addresses your comment? Thanks!

Changes in commit 028218dbf6516d2c1c7ce31dc

[2017-10-16 15:47] smiths commented on #11
Hello @GenevaS.  Yes, the type information that you have added is very helpful.  One thing that the types highlight is that you might consider using a sequence rather than a set of X and Y.  You are adding subscripts anyway.  The problem with the set is what connects the input variable to the function variable.  If you use sequence to do this, then you don't need the names of the variables to make

[2017-10-16 15:56] GenevaS commented on #11
I chose set notation because that is the one that I am most familiar with. If I were to change ``X`` and ``Y`` to sequences, would you expect the notation change from ``x E X`` to ``any/some x in X`` or do you expect sequence notation explicitly (e.g. ``for some a_i in (a_i)0..n``?

[2017-10-16 19:43] smiths commented on #11
Hello Geneva.  Yes, you can use the x \in X notation for sequences.  I don't use particularly sophisticated mathematics.  Normally a notation like that in HoffmanAndStrooper1995 (in the cas741 repo) works for me.  Sequences operations are given on page 38.

[2017-10-16 20:26] GenevaS opened #12 "SRS Comments: Implication of Behaviour on Unsupported Interval"
\subsection{Scope of Requirements}
The \prognameAbbrv{} calculates $R(f(X))$ of a user-defined $f(X)$ and $D(x), x
\in X$. Each $D(x)$ must be specified by the user in the initial version of
this tool, otherwise the unsupported interval $(-\infty, \infty)$ will be
assumed (\aref{A_domain}).

**\wss{This is confusing.  I would guess if the
  assumption were violated that the program would not calcu

[2017-10-16 20:27] GenevaS opened #13 "SRS Comments: Reducing Mathematical Notation in Goal Statements"
\item[GS\refstepcounter{goalnum}\thegoalnum \label{G_range}:]
Calculate $R(f(X))$.

%\item[GS\refstepcounter{goalnum}\thegoalnum \label{G_unknownDomain}:]
%Determine $D(x)$ for any $x \in X$ if it is not part of the input set.

**\wss{Your goal statement is more mathematical than usual.  It is nice if the
  goal statement can be written with a minimal amount of mathematical notation,
  so that as

[2017-10-16 20:30] smiths commented on #12
It seems like I'm being asked a question, given the label, but I do not know what the question is.  😄   The word "unsupported" is the main thing that confuses me.  If it isn't supported, how can it be used?

[2017-10-16 20:35] smiths commented on #13
@GenevaS, I like your approach of creating issues for each of my comments.  However, please only add me as an assignee if I am actually assigned to do something.  If you are assigning me to do something, you'll need to be more clear on what I'm expected to do.

Even if I'm not assigned, I'll see all of the issues that you create, because I am "watching" your repo.

[2017-10-16 20:40] GenevaS opened #14 "SRS Comments: Combining Theoretical Models"
\wss{T1 to T4 are very similar.  You could consider combining them and
  abstracting out the binary operator.  You could add a constraint for the case
  where the binary operator is division.}

[2017-10-16 20:43] GenevaS opened #15 "SRS Comments: Theoretical Model for Constant Exponents on a Real Interval Base"
\wss{This does not make sense to me.  It does not match what I see at the
  wikipedia page.  Is $X$ an interval, or is $X$ a set of intervals, or is $X$ a
  set of variables?  What is the subscript $z$?}

[2017-10-16 20:44] GenevaS opened #16 "SRS Comments: Instance Model for Calculating f(X)"
\wss{You don't actually have an instance model to calculate the range of $f$.
  Something like slide 13 of the previously mentioned slides might be appropriate?}

[2017-10-16 20:45] GenevaS opened #17 "SRS Comments: Directed Rounding"
\wss{You haven't mentioned directed rounding.  Is that relevant for your
  problem.  Of course it isn't a concern for real numbers and exact arithmetic,
  but mentioning the assumed differences from floating point arithmetic makes
  sense to me.}

[2017-10-16 20:45] GenevaS opened #18 "SRS Comments: Clarifying Functional Requirements"
\wss{It isn't clear how $D(x)$ will be entered.  Why not have your input just be
  the input variables of type interval.  The way you have written it, it appears
  that there are variables $x$ and a function that returns the domain of a given
  $x$.  If all you are looking for is upper and lower bounds for each variable,
  that would be easy to say.  You talk about converting to interval form in R

[2017-10-16 20:51] GenevaS commented on #12
I guess the question here would be should I remove this? I realize that in my test plan I am writing test cases to report to the user when a domain interval is missing or incomplete. This would leave:

"The C^3 calculates ``R(f(X))`` of a user-defined ``f(X)`` and ``D(x), x \in X``. Each ``D(x)`` must be specified by the user in the initial version of this tool, otherwise the tool will assume that

[2017-10-16 20:55] smiths commented on #12
I think your requirements should reflect what you are saying in your test cases.  (This is why we are faking a rational design process.)  😄   You can say in your requirements that if D(x) is not specified this will be reported to the user, or whatever you require.

[2017-10-16 21:00] GenevaS commented on #13
Sorry about that...I will immediately follow up with the two issues I assigned to you.

Could this issue be addressed with this expanded description?

"Given a user-defined function (``f(X)``) with any number of variables (``x_0, ..., x_n``) and the domains of those variables (``D(x_0), ..., D(x_n)``), the goal of the C^3 tool is:

GS1: Calculate the range of ``f(X)`` (``R(f(X))``)."

[2017-10-16 23:42] GenevaS commented on #12
Alright, I have made the change. If you are satisfied that this clears the misunderstanding I will close the issue.

[2017-10-17 03:42] smiths commented on #12
Looks good.  I'll close the issue for you.  😄

[2017-10-17 03:42] #12 closed, assigned to GenevaS, smiths

[2017-10-17 03:46] smiths commented on #13
Can you try a version that is mostly in words?  That is, what will it sound like if you expand the words domain and range into words?  If possible, I'd like the goal to be something that doesn't require any mathematical sophistication to read.

[2017-10-17 13:00] GenevaS commented on #13
Sure, but shouldn't this be alright because my intended reader should understand what domain and range are?

"Given a user-defined function (``f(X)``) with any number of variables (``x_0, ..., x_n``) and the minimum and maximum values that those variables can take (``D(x_0), ..., D(x_n)``), the goal of the C^3 tool is:

GS1: Calculate the minimum and maximum values (``R(f(X))``) for ``f(X)``."

[2017-10-17 13:34] GenevaS commented on #16
I do talk about this though:

"The goal \gsref{G_range} is solved by recursively solving instance models
\iref{I_addition}, \iref{I_subtraction}, \iref{I_multiplication},
\iref{I_positivedivision}, \iref{I_negativedivision}, \iref{I_exponents}, and
\iref{I_expbase} and combining the results. For example, if the user provided
an equation of the form ``a + b * c``, it is decomposed into ``a + B`` wh

[2017-10-17 13:36] GenevaS commented on #14
I would be happy to combine the models for addition, subtraction, and multiplication, but I think I would like to keep division separate. I believe that it is "different enough" from a mathematical definition. What do you think?

[2017-10-17 13:50] GenevaS commented on #15
This might be a case of notation again. I would have liked a better source for this, but I could not find any in my brief search.

Wikipedia's model seemed more like an "instance" model to me, so I expanded it into what I expect the original theoretical model was. What I ended up with was an interval ``X`` raised to the power of ``n``. Since I had already used ``n`` to represent exponents, I had t

[2017-10-17 13:53] GenevaS commented on #17
I don't know how directed rounding comes into this when I am assuming either real numbers (which can have fractions so I am not concerned with rounding off their values) or natural numbers (which cannot have fractions or else it is an error). Do you mean with respect to the output? If that is the case, I have specified a reliability non-functional requirement that covers floating point error rates

[2017-10-17 13:59] GenevaS commented on #18
All R1 is meant to say is that we somehow get the user's function and variable domains. I left the exact details unspecified because it felt more like a design decision than a requirement. The follow up requirement about converting the domain information to interval form is referring to the data definition for intervals that the C^3 tool understands.

For R8, the "verification" is with respect to

[2017-10-18 14:11] smiths commented on #18
For R1 my comments are related to your notation.  I'm not saying it is wrong, but it is confusing.  The connection between the variables in the set X and the domain of each variable relies on identifying the variable, but the variables aren't the focus of the input.  If you turn it around and focus on the variables, I think it will be clearer.  If your input is a sequence of variables of the inter

[2017-10-18 14:19] smiths commented on #17
When you mention fractions, do you mean that you are using rational numbers?  This isn't the same as real numbers.  Are you tracking the numerator and the denominator?  If not, you are introducing an error in some cases, since not every fraction (rational number) can be represented exactly be a floating point number.  For instance, 1/10 cannot be stored exactly as a floating point number.

I'm not

[2017-10-18 14:45] GenevaS commented on #17
Yes, I do mean real (i.e. floating point) numbers because that is the domain the equations will ultimately be used in (game engine). This would imply (at least to me) that rounding error from floating point calculations will have little to no affect on the results.

I still don't understand how containment is related to my application specifically. The bounds that I am calculating are not error bo

[2017-10-18 15:49] smiths commented on #17
I'm confused by your last post.  When you say real, do you mean floating point?  Floating point and real are not the same thing.  If you want an approximate range for your function, then you don't have to worry about floating point numbers.  You will probably get the right result most of the time.  Given your use of intervals, I had assumed that you wanted the exact range.  Either way, your requir

[2017-10-18 15:51] GenevaS commented on #11
Ok, I think I've tracked down the biggest problem - I did not define a notation for a variable name or a variable name set. Does this statement make sense to you?

"The C^3 tool calculates ``R(f(V))`` of a user-defined ``f(V)`` given ``D(v), v \in V``. Each ``D(v)`` must be specified by the user in the initial version of this tool, otherwise the tool will assume that the user input set is incomple

[2017-10-18 15:55] smiths commented on #11
Yes, I like this better.  😄

[2017-10-18 17:58] GenevaS commented on #17
Maybe it would help (me as well) if I explained what the range will be used for? In the context of equations for other applications, I had intended the range to be used to normalize a calculation. For example, if the range is calculated to be [0,34], in practice I would use it to normalize the results to [0,1].

So now I am unsure if I would need directed rounding or not. On one hand, I want the r

[2017-10-18 18:32] smiths commented on #17
My guess is that the answers without directed rounding will be fine for your purpose.  I think you should just say this in your SRS.  If it turns out to not be adequate, you can revise your SRS and "fake it" like you always knew it would be an issue.  😄

[2017-10-18 19:44] GenevaS commented on #17
That would be my suspicion as well, which is probably why I didn't think of it until now.

The comment that mentions this is at the bottom of the Instance Models section, but would I be correct in assuming that this is a "Scope of Requirements" or a "Data Constraints" section piece?

[2017-10-18 20:24] smiths commented on #17
The Scope section sounds like a good place.

[2017-10-18 20:32] GenevaS commented on #18
Alright, I will focus on closing Issue #11 (which has become the "fix the notation" issue) before pursuing this one further.

[2017-10-18 23:05] smiths commented on #15
I think you need to provide the type information here.   Your explanation above explains the z, but the notation overall is still confusing.  To start with, you seem to be over using the symbol X.  Outside of T6, X is a set of variables.  Inside T6, X seems to be an interval.  However, the intervals have ... in the middle: [x_1^N, ..., x_z^N].  Do you want this "..."?  What does it mean?

[2017-10-18 23:08] smiths commented on #14
Your plan sounds good to me.

[2017-10-18 23:16] smiths commented on #16
I think what you have written would work fine as an instance model.  It gets lost if the information is just in a paragraph introducing the other instance models.  Also, having an instance model for this will allow you to have explicit traceability to your goal.

[2017-10-18 23:17] smiths commented on #13
I prefer the goal to be as simple to read as possible by as wide an audience as possible, but you can leave it as it is, if that is your preference.

[2017-10-18 23:47] GenevaS commented on #11
Alright, I believe that I have finished renaming all of the relevant variables. Could you have a look at some of the most confusing sections and let me know if this new notation helps your understanding?

[2017-10-18 23:54] GenevaS commented on #17
Alright, I made the addition. Please let me know if further adjustments are needed regarding directed rounding for this specification.

[2017-10-18 23:55] GenevaS commented on #15
Maybe the new notations from d216c7d273c9fd989238b07ea4768eed199949b1 addresses this confusion?

[2017-10-19 01:59] smiths commented on #15
What is the type of X here?

[2017-10-19 02:00] smiths commented on #11
I do not have time to review your entire document, but I like the changes that I looked at.  The type information in particular is very helpful.

[2017-10-19 02:42] GenevaS commented on #15
It is the same (or should be the same) as the other instances of ``X`` in the theoretical models:

"``X`` (``{R, ..., R}``) A closed, connected set of real values"

[2017-10-19 02:45] GenevaS commented on #11
I understand. That's why I asked you to review the most confusing sections to see if the changes helped :) If you found those sections to be understandable now, I reasoned that the rest should be ok too (or close to).

Was there anything else related to notation that you wanted me to work on?

[2017-10-19 02:57] smiths commented on #15
In your middle two cases you (N is even), you have square brackets.  I don't know what those mean in this context?  Is this a tuple?  If it is, then it doesn't match the set that you propose.   Is it an interval?  No, because it has more than two entries.  You also mix sequence and set, since you have subscripts.

[2017-10-19 03:06] GenevaS commented on #14
Alright, the changes have been implemented in 5423998c902136e0689881b4ebc57ac1c15ad81a. The traceability table and chart for models and data definitions were also affected.

Does the presentation of the new model make sense with the temporary ``<op>`` variable? Should this also be added to the notations reference table (I think your answer will be yes to this one, but I want to be sure)?

[2017-10-19 03:26] smiths commented on #14
Hello Geneva.  You'll want to move op outside of your set building notation.  You are writing a template for these sets, not one set that includes all of them.  Yes, I would add this to your notations reference table.  😄

[2017-10-19 03:27] smiths commented on #11
No.  I have no suggestions at this time.

[2017-10-19 03:29] GenevaS commented on #11
Alright. Thanks for all the help! I appreciate it :)

[2017-10-19 03:29] #11 closed, assigned to GenevaS

[2017-10-19 13:56] GenevaS commented on #14
Ok, I lift the ``op`` variable out so that the equation now reads (the description is unchanged, just added for reference here):

**Equation**:  ``X <op> Y = {x <op> y | x \in X \wedge y \in Y\}, where op \in {+, -, x}``
**Description**: The summation, subtraction, and multiplication interval of two   real intervals ``X`` and ``Y`` is equal to the set of sums, differences, and products for each pa

[2017-10-19 13:59] GenevaS commented on #13
Is the last revision I sent still to math-heavy? Or is there too much notation (even if it is just for referencing other document elements)?

[2017-10-19 14:09] smiths commented on #13
Hello Geneva.  My intuition is that you could write your goal statement with no (or almost no) math.  I have a feeling that this might lead to a better goal statement, but until I see it written out, it is only intuition.  Once I saw it, I might change my mind.  😄  If your intuition doesn't agree, then you can leave it as it is.  The decision is yours.

[2017-10-19 14:13] smiths commented on #14
This is mostly better, but op has type.  You can see this in ghci by typing the following at the prompt:

:type (+)

[2017-10-19 14:23] GenevaS commented on #15
Ok, I see now. Updating the equation in the ELSE clause is easy enough:

``{x^N | 0 <= x^N <= max(x_1^N,x_n^N) ^ x \in X ^ N \in NaturalNumbers}``

I don't know about converting the ``N is even`` cases because of the ordering of the elements. I tried using partially ordered set notation. Does this make any sense?

``{x^N | x \in X ^ N \in NaturalNumbers}, (X^N, <) when N is even ^  x_{n} >= x_{n+1

[2017-10-19 14:26] GenevaS commented on #14
I don't have ghci handy, but I am guessing that the type is ``Real -> Real -> Real``?

[2017-10-19 14:35] GenevaS commented on #13
Ok then, if I remove all of the notation I am left with:

"Given a user-defined function, which can contain any number of variables, and the minimum and maximum values for each variable in the user-defined function, the goal of the C^3 tool is:

GS1: Determine the minimum and maximum values that the user-defined function can achieve."

[2017-10-19 14:37] smiths commented on #15
Hello Geneva.  I feel bad saying this, but I don't have time at the moment to go through the details.  It doesn't take much time for me to say when something looks wrong, but it does take time to specifically say how to get it right.  😄 My advice to you is to either get a colleague to help, or to relax your goal of abstraction and just say it the same way that your original Wikipedia source said i

[2017-10-19 14:39] smiths commented on #14
Yes, you have the right idea.  So, op has a type.

(Technically, ghci returns:
(+) :: Num a => a -> a -> a)

😄

[2017-10-19 14:44] smiths commented on #13
That sounds great to me!  My mother could understand that goal.  😄 (That is one of my tests for whether a goal is understandable to a wide audience.)

In my opinion, the mathematical way of saying the above is one of your instance models.

I prefer your new goal to the original, but the decision is yours.

[2017-10-19 14:47] GenevaS commented on #14
Ok, got it. I now have the notation reference:

``op`` (Type -> Type -> Type)  A temporary set of mathematical operators used to define equation templates; the type of the equation is determined by the type of the input values

[2017-10-19 14:50] GenevaS commented on #13
You have been doing this longer than I have, so I will defer to your judgement for now :)

I have replaced the original goal with the new one, so I think this issue can be closed.

[2017-10-19 14:50] #13 closed, assigned to GenevaS, smiths

[2017-10-20 14:11] smiths opened #19 "Scope should mention restriction on division"
For division you aren't allowing mixed intervals.  You should say this in the scope section of your SRS.

[2017-10-20 15:49] GenevaS commented on #19
This would be because mixed interval divisors do not result in closed intervals (at least one bound is infinity, which is open by definition). I do see why this should be in the scope because I also explicitly list the types of operators allowed in ``f(V)`` ahead of the assumptions list. I will expand the document scope to explain this.

[2017-10-20 17:03] smiths commented on #19
Yes, you have good reason to exclude the mixed case.  I'm just suggesting that you make this explicit in the scope section.  I thought of it during your presentation because I hadn't realized you made this decision when I read your document.  I'm sure it is in there somewhere, but it is good to be explicit right up front.

[2017-10-22 02:12] GenevaS commented on #17
Do you think that this question has been addressed adequately? I so, please close this issue. If not, what else do you feel is missing?

[2017-10-22 02:17] #17 closed, assigned to GenevaS, smiths

[2017-10-22 02:27] GenevaS commented on #19
Alright, I've added the information to the document. If there is no additional missing information related to this issue, please close it :)

[2017-10-22 02:32] GenevaS commented on #14
Was the type of ``op`` the last fix related to this issue?

[2017-10-22 02:37] GenevaS commented on #15
Not your fault - I know that you have a lot of work to do :) I will ask Dr. Carette about this when I see him for our meeting on Tuesday.

[2017-10-22 03:19] smiths commented on #15
Thank you Geneva.  It is also an issue of fairness.  I do not want to spend dramatically more time on one students assignment over that of the others.

[2017-10-22 03:19] smiths commented on #14
No other thoughts occur to me at this time.  I'll close this issue.

[2017-10-22 03:19] #14 closed, assigned to GenevaS, smiths

[2017-10-22 03:21] #19 closed, assigned to GenevaS

[2017-10-22 03:27] GenevaS commented on #18
Now that the notation problem has been sorted out (Issue #11), does R1 make sense without further changes?

[2017-10-22 13:36] smiths commented on #18
R1 is fine now.

[2017-10-22 13:36] #18 closed, assigned to GenevaS, smiths

[2017-10-23 16:08] GenevaS commented on #16
I have added an instance model for composing operators. Would you have a quick look to see if it makes sense please?

[2017-10-23 17:10] GenevaS opened #20 "SRS: Changing the Reliability Non-Functional Requirement"
I was thinking about the reliability non-functional requirement (which talks about being correct within the floating point error of the machine), and I believe this should be about rounding to significant digits instead. Since I don't especially care about floating point error (hence the directed rounding questions), I think what I am really interested in is the rounding for significant digits (e.

[2017-10-24 04:09] smiths commented on #20
If you are just talking about how many digits of precision, this is a straightforward requirement.  You would just be talking about how many digits to display.  However, if you want the digits to be accurate, then you are back to worrying about floating point error.  Significant digits aren't meaningful, unless you track floating point error.

If you want to show display answers with the same numb

[2017-10-24 04:15] smiths commented on #16
I would have thought IM8 would be a recursive definition.  I didn't think of this earlier, but you don't have any unary operators?

[2017-10-24 15:00] GenevaS commented on #16
The only unary operator I support is (-) so that negative numbers can be represented, although this is only implicitly stated. I don't think there would be any associated models, so this might be something to add to the requirement scope section.

For the recursive definition, maybe something like:

[code]

[2017-10-24 15:43] smiths commented on #16
Hi Geneva.  Your new definition doesn't really lead to the base case.  I think you have the right idea, but the notation still seems odd.  You don't have to invent anything here.  If you google terms like:

compiler example calculator
bnf arithmetic expression

You will get many hits and examples.  These examples might also explicitly show the unary operator for minus.  😄 I sat in on one of Jacque

[2017-10-24 16:15] GenevaS commented on #16
The problem with the way that it is presented for programming is that it is treated as a language grammar, not strictly as a recursive definition as it would appear in mathematics.

I will look into that further, but I think the base case should be:

``R(f(V_1), f(V_2)) = [a_1, b_1] <op> [a_2, b_2], V_1 = {v_i} AND V_2 = {v_j} AND i,j <= n AND  i != j``

As for negation, I think I would have to ad

[2017-10-24 22:44] GenevaS commented on #15
Alright, I think Dr. Carette and I figured out what was wrong with this definition. I have made the changes if you would verify that it now makes sense.

This also brings up a secondary question - neither of the exponent theoretical models are explicitly defined at the source I gave. They are only implied. Should I remove the source and leave it empty or leave it as is?

[2017-10-24 23:15] GenevaS commented on #16
I have rewritten the equation as a BNF, but I am not sure if this would be considered inconsistent with the rest of the document or not. What do you think?

[2017-10-25 12:41] smiths commented on #15
This is definitely better, but I don't understand the case for N is even and 0 >= a and a > b.  For your intervals I believe you are assuming that a <= b.  At least based on your terminology definitions on page 4, and the usual usage of this notation.  That means that this case will never occur.  I think you might want to have another look at the wikipedia page that you cited.  😄

In answer to you

[2017-10-25 12:47] smiths commented on #16
I wouldn't worry about BNF being inconsistent with the rest of the document.

[2017-10-25 14:06] GenevaS commented on #16
Alright. This addition also prompted me to add some new requirements for it, but Iwonder if at least one of them is redundant?

[2017-10-25 14:07] GenevaS commented on #15
This is in the instance model, not the theoretical model?

[2017-10-25 19:05] GenevaS commented on #20
Alright, I've added a new requirement for this issue.

I have also added a couple new requirements related to issue #16. Could you please have a look at them and tell me if any are now redundant?

[2017-10-26 01:20] smiths commented on #20
I'm sorry Geneva, but I really cannot review all of the changes in your document.  This just isn't fair to the other students.  If I review every change in your document, I should review every change in everyone's documents.

[2017-10-26 17:07] GenevaS commented on #20
I did open this issue separately from the issues related to your comments/questions in the SRS. I believe that I have added an adequate fix for this one, so I will close the issue. Thank you for your patience :)

[2017-10-26 17:07] #20 closed, assigned to GenevaS, smiths

[2017-10-26 17:09] GenevaS commented on #16
I think this issue can be closed if you think the instance model for this makes sense. I will take care of any ambient issues that came up because of this change :)

[2017-10-30 14:43] halonazhao opened #21 "More Tests Needed About The Input Values"
Under Getting User Input Section, I think you already have enough tests for the F(v) term, but some situations may not be tested for x = [], y=[] terms.
1. The intervals of x, y may have some constraints with F(v). For example, when F(v) = x/y, the interval of y can not include 0 in it like [0, 1]. This case system may need an error message.
2. User may also did not enter right format of intervals

[2017-10-30 14:53] halonazhao opened #22 "Correctness of Operator Composition, Manually?"
https://github.com/GenevaS/CAS741/blob/ae076dab116cf5cd70d7cd7931d94f4573424834/Doc/TestPlan/TestPlan.tex#L861 In this test case, your test can automatically decompose the expression to the tree. But in https://github.com/GenevaS/CAS741/blob/ae076dab116cf5cd70d7cd7931d94f4573424834/Doc/TestPlan/TestPlan.tex#L1302, you said this test should be done manually. I think if in first case, you can test a

[2017-10-30 14:59] halonazhao opened #23 "Correctness of Intervals as Base Numbers?"
https://github.com/GenevaS/CAS741/blob/ae076dab116cf5cd70d7cd7931d94f4573424834/Doc/TestPlan/TestPlan.tex#L718
In this section, you mentioned test-parse\_intervalWithInvalidExponent1, test-parse\_intervalWithInvalidExponent2, test-parse\_intervalWithInvalidExponent3, test-parse\_intervalWithInvalidExponent4, test-parse\_intervalWithInvalidExponent5. Do you mean to test x^1, x^2, x^3...? Because yo

[2017-10-30 15:09] halonazhao opened #24 "A Small Error"
https://github.com/GenevaS/CAS741/blob/ae076dab116cf5cd70d7cd7931d94f4573424834/Doc/TestPlan/TestPlan.tex#L1211
I think the R(f(V)) = R([-2,-1] / [-3,5]) should be R([-2,-1] / [-5,5]).

[2017-10-30 15:14] halonazhao opened #25 "Non-Testing Based Verification"
Probably some Non-Test Based Verifications? This is not an issue, just an improvement because it may help the test more complete.

[2017-11-08 00:49] #16 closed, assigned to GenevaS, smiths

[2017-11-08 00:49] GenevaS commented on #15
Found the error, thanks!

[2017-11-08 00:49] #15 closed, assigned to GenevaS, smiths

[2017-11-08 01:29] GenevaS commented on #24
You are correct. I have made the correction.

[2017-11-08 01:29] #24 closed, assigned to nobody

[2017-11-08 01:32] GenevaS commented on #25
I do agree with this, but I don't think that there will be enough time to do this within the time constraints of the course. I will close this issue with "won't fix" and "enhancements" in case there are more resources to dedicate to this in the future.

Thanks!

[2017-11-08 01:32] #25 closed, assigned to nobody

[2017-11-08 16:11] smiths opened #26 "Review Comments on Test Plan"
Comments on test plan are available in commit 708bb2c.

[2017-11-13 15:15] GenevaS commented on #21
Ok, I think I've covered everything. I added one test case for reordering domain boundaries and three cases for division by zero (min bound, max bound, and constant value).

[2017-11-13 15:15] #21 closed, assigned to nobody

[2017-11-13 15:19] GenevaS commented on #23
I only see two tests in the document, but there are five listed here. Where did you see the last three (test-parse_intervalWithInvalidExponent3, test-parse_intervalWithInvalidExponent4, test-parse_intervalWithInvalidExponent5)?

[2017-11-13 15:22] GenevaS commented on #22
In the concrete cases, I have a limited number of expressions that I use to test if a tree can be created from some given expression. The purpose of the manual induction tests is to prove that a function of *any* length can be decomposed by the program if some tree exists.

I was planning on using the concrete tests as base cases for this manual proof-by-induction test. Does that make sense?

[2017-11-13 15:56] GenevaS commented on #26
I've finished working through most of your comments, and I have a few questions:

- For the proof by induction, is it clear what I mean by ```f(V) = f_1(V) <op> f_2(V) by induction```? I'm not honestly sure what the type is of a proof by induction otherwise.
- How in-depth do you want the user testing description to be? I hesitate to do a full description because I expect the test will be both sma

[2017-11-13 21:41] smiths commented on #26
If you are talking about a proof, why is it listed as a test case?  Test cases are for dynamic execution.  If you are doing a "pen and paper" style proof, this would be under non-testing based verification.

For a description of the user testing it doesn't have to be in depth.  If your tests are going to be small and informal, you should explicitly say that.  Even for an informal test,  you can de

[2017-11-15 02:17] aoananp opened #27 "MG - Interval and Equation Data Structure Modules"
https://github.com/GenevaS/CAS741/blob/13090fb94cf52c69ee3dc37d9d8509741cf0d4a6/Doc/Design/MG/MG.tex#L394

Will you be implementing these modules or using a built-in library?
If these aren't part of the SRS, it would be good to have a more detailed requirement/spec in the MIS. :)

[2017-11-15 02:20] aoananp opened #28 "MG - Combining Modules"
https://github.com/GenevaS/CAS741/blob/13090fb94cf52c69ee3dc37d9d8509741cf0d4a6/Doc/Design/MG/MG.tex#L338

Please correct me if I am wrong, which I think I am, but does the software flow through in a linear way where some modules can be placed as Level 3 modules / access programs such as the Internal Conversion, Equation Conversion, and Variable Consolidation modules?

[2017-11-15 02:27] aoananp opened #29 "MG - Good job!"
Not really an issue, but just a comment.
There's not much to comment on in this document, so here's a high five! :)

[2017-11-22 16:53] GenevaS commented on #27
I am planning on implementing these myself (mainly because I need the  practice). These modules actually do directly follow from data definition and instance models in the SRS, so hopefully that is sufficient for their descriptions :)

[2017-11-22 16:53] #27 closed, assigned to nobody

[2017-11-22 16:57] GenevaS commented on #28
If I were to draw an execution or data flow diagram, you are correct - the data would go into the Variable Consolidation module, which would in turn call both the Interval and Equation Conversion modules as part of its process.

Do you think that there is something in the MG that would help clarify this, or was this a question on how the program would work in general?

[2017-11-22 16:57] GenevaS commented on #29
Thanks! :)

[2017-11-22 16:57] #29 closed, assigned to nobody

[2017-11-23 05:58] smiths opened #30 "Review comments on MG"
A few comments are available in commit e97bb07.

[2017-12-05 18:45] icbicket opened #31 "MIS: Equation Data Structure"
I'm a bit confused by this module, it seems like it should be defining a data type 'equationStruct', but I don't see this definition anywhere inside. It's a little confusing that the input to the EquationStruct program includes an equationStruct (and so does the output). If you're defining the equationStruct datatype in this module, why does it need that data type as an input? It seems like you ha

[2017-12-05 19:11] icbicket opened #32 "MIS User Input"
Maybe you have a reason, but why is there no Input listed in the access program for the user input module? I think you could add either a filename string, a file, or a list of strings in the correct format.

[2017-12-05 20:19] icbicket opened #33 "MIS Consolidate Assumptions & Access Programs"
There are some assumptions you make (thinking specifically of 10.4.2, maybe there are others), where you assume that another access program in the same module has been run first before running the second. Maybe instead of adding this assumption, you can raise an Exception if the necessary order has not been followed.

Or even, since in the Control Flow, you run all three of the Consolidate functio

[2017-12-05 20:23] icbicket opened #34 "MIS: Consolidate"
Does Consolidate make the conversion between lists of strings and real numbers to feed to the state variables it creates? Say, ConvertAndCheckInputs takes in strings and lists of strings, but intervalStruct takes in a string and two real numbers, where is the conversion done?

You mention it a little in the transition in 10.4.3 for ConvertAndCheckInputs, but there's not a lot of detail here. What

[2017-12-05 20:25] icbicket opened #35 "MIS: supportedOps"
Is it useful to you to have a supportedOps abstract data type? It will make it clear in the MIS/MG which operators the user is allowed to have, and the program will have somewhere to keep its knowledge of which operators are acceptable. Maybe it will also make it easier to expand to new operators or change the allowed inputs later. Or maybe the supportedOps should be state variables held in a diff

[2017-12-05 20:35] icbicket opened #36 "MIS: general comments"
Just a couple of general comments on the MIS, overall, nice job!

In 7.4.3, GetInputMethod shows up (there is an assumption about it), is this the same as GetUserInputs in 7.3.1? Otherwise, where does it come from?

In 11.4.3, can you define what supportedOps and eqRange are? Are you treating them as data types? State variables?

In 6.4.2, you have Solver,CalculateRange, is this meant to be FindRa

[2017-12-06 20:00] GenevaS commented on #35
I agree and have already added it (Operator Data Structure). I might have committed it here while you were reading the document :)

[2017-12-06 20:00] #35 closed, assigned to nobody

[2017-12-08 19:21] smiths opened #37 "Review MIS comments"
Available at 92a35a4.

[2017-12-11 04:01] GenevaS commented on #30
I have added a justification for mapping multiple anticipated changes to one module. I believe that this was the only comment left, so I will close the issue.

Thanks for the feedback :)

[2017-12-11 04:01] #30 closed, assigned to GenevaS

[2017-12-17 03:05] GenevaS commented on #28
Closing due to inactivity and completion of the final revision of this document for the current project cycle.

[2017-12-17 03:05] #28 closed, assigned to nobody

[2017-12-17 03:07] GenevaS commented on #31
Ah, I think this comes down to an inadequate definition of how I create objects in the program. A related comment was left by @smiths .

What I am trying to convey is that the EquationStruct objects can be linked to form a binary tree. I will be revising my documentation to make their creation process clearer.

[2017-12-17 03:07] #31 closed, assigned to nobody

[2017-12-17 03:09] GenevaS commented on #32
I ended up coding a function that takes a file name as an input. Originally I had thought to enclose the entire input process in one function, where I would get the inputs or file names through a smaller control class. This ended up being more complicated than necessary because of my GUI, so I changed the definition. I will be updating the MIS document to reflect the changes.

[2017-12-17 16:55] GenevaS commented on #32
Updated in e56549a170d98897e422842b3b8176ced8130a87.

[2017-12-17 16:55] #32 closed, assigned to nobody

[2017-12-18 17:49] GenevaS commented on #33
I ended up not needing the Assumptions for Consolidate, so I removed them.

My ControlFlow module has changed considerably after implementation, so I don't know if the same issues apply. However, having independent getters was a design decision I made knowing that the implementation language (C#) cannot return multiple values of different types. Having the getter functions individually also lets m

[2017-12-18 17:49] #33 closed, assigned to nobody

[2017-12-18 17:50] GenevaS commented on #34
I handle most of the incorrect data type errors inside the appropriate conversion module, so this one need only worry about mismatched variable lists from the equation and interval definitions.

I have added a success code that is returned so that better error handling can be done in the calling module. I have also added an explicit description of what is happening when this function is called.

[2017-12-18 17:50] #34 closed, assigned to nobody

[2017-12-18 17:55] GenevaS commented on #36
- I have added qualifiers to all the functions in the ControlFlow pseudo code to clarify which module they are coming from
- I have made supportedOps an exported constant and added a definition for the calculation of eqRange (renamed to range)
- Yes. I have updated the ControlFlow pseudo code with this as well.
- Organizing the document that way wouldn't make sense anymore because some modules are

[2017-12-18 17:55] #36 closed, assigned to nobody

[2017-12-18 19:16] GenevaS commented on #37
Completed the final revision of the MIS.

[2017-12-18 19:16] #37 closed, assigned to GenevaS

[2017-12-18 23:28] GenevaS commented on #22
A similar comment was left by @smiths that I think I have addressed, so I am closing this issue.

[2017-12-18 23:28] #22 closed, assigned to nobody

[2017-12-19 02:08] GenevaS commented on #26
Done and done.

[2017-12-19 02:08] #26 closed, assigned to GenevaS

[2017-12-19 17:29] #23 closed, assigned to nobody